{% extends "base.html" %}
  {% block cards %}
    {{ super() }}
    <article class="card">
      <header><h2>Restart</h2></header>
      <img src="/static/img/run_cat_smile.png">
      <div class="content">
        <p>Restart. Please wait.</p>
	<div id="timer"></div>
      </div>
    </article>
    <script>
      var count = 180;
      var redirect_to = '/'
      var counter = setInterval(timer, 1000);
      function timer() {
        count = count - 1;
        if (count < 1) {
          clearInterval(counter);
          window.location = redirect_to;
          return;
        }
        document.getElementById("timer").innerHTML = "You will be redirected in " +
          count + " second" + (count > 1 ? "s" : "") + ".";
      }
    </script>
  {% endblock %}
